### Pull in data from an API. 
Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/

In [77]:
import requests
import json
import pandas as pd

In [78]:
r = requests.get('https://zoo-animal-api.herokuapp.com/animals/rand/10')
data = r.json()
df = pd.DataFrame(data=data)
df.head(10)

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,Alligator Snapping Turtle,Macroclemys temmnicki,Reptile,Diurnal,1.3,2.7,200,225,70,Fresh water lakes and rivers,Fish,Freshwaters of the Southeastern United States,https://upload.wikimedia.org/wikipedia/commons...,8
1,Major Mitchell's Cockatoo,Cacatua leadbeateri,Bird,Diurnal,1,1.2,0.9,0.95,60,Forest and grassland,"Seeds, nuts, fruits, berries, and roots",Australia,https://upload.wikimedia.org/wikipedia/commons...,112
2,Longnose Gar,Lepisosteus osseus,Fish,Nocturnal,2,6,1.1,7.7,20,"Rivers, lakes, reserviors and estuaries",Small fish,North America east of the Mississippi River,https://upload.wikimedia.org/wikipedia/commons...,108
3,Asian Elephant,Elephas maximus,Mammal,Diurnal,9,10,10000,11000,47,Forest,"Grasses, leaves, barks, and fruits",Southern and Southeast Asia,https://upload.wikimedia.org/wikipedia/commons...,19
4,Sand Cat,Felis margarita,Mammal,Nocturnal,1.3,1.9,4.4,5.5,9,Desert,"Small rodents, lizards and insects",North Africa and southwest Asia,https://upload.wikimedia.org/wikipedia/commons...,158
5,Lesser Kudu,Tragelaphus imberbis,Mammal,Nocturnal,5.2,5.7,121,243,15,"Shrubland, woodland and savannah","Leaves, twigs, fruit and seed pods",East Africa,https://upload.wikimedia.org/wikipedia/commons...,105
6,Grey Fox,Urocyon cinereoargenteus,Mammal,Nocturnal,1.8,2.7,6.5,15,13,Woodland,"Small mammals and birds, some fruits and seeds",Southern Canada to northern South America,https://upload.wikimedia.org/wikipedia/commons...,83
7,Sunbittern,Eurypyga helias,Bird,Diurnal,1.5,1.67,0.38,0.56,15,Wetlands,Insects and other small animals,Southern Mexico to northern South America,https://upload.wikimedia.org/wikipedia/commons...,171
8,Ring-tailed Lemur,Lemur catta,Mammal,Diurnal,1.3,1.5,5,8,16,Forest,"Fruit, leaves, flowers and insects",Southern and Southwestern Madagascar,https://upload.wikimedia.org/wikipedia/commons...,151
9,Angolan Colobus Monkey,Colobus angolensis,Mammal,Diurnal,1.2,2.2,13,25,18,Forest and savannah,"Leaves, fruit, and seeds",Tanzania,https://upload.wikimedia.org/wikipedia/commons...,15

### Find and print TWO descriptive statistics about your data. 
This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

In [79]:
df.shape

(10, 14)

In [80]:
mean_lifespan = df['lifespan'].mean()
print (mean_lifespan)

7.060204791513152e+17

In [81]:
max_lifespan = df['lifespan'].max
print (max_lifespan)

<bound method NDFrame._add_numeric_operations.<locals>.max of 0    70
1    60
2    20
3    47
4     9
5    15
6    13
7    15
8    16
9    18
Name: lifespan, dtype: object>

### Write a query in Pandas to select a particular set of your data. 
You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

In [82]:
df[df['active_time'] == 'Diurnal']

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,Alligator Snapping Turtle,Macroclemys temmnicki,Reptile,Diurnal,1.3,2.7,200,225,70,Fresh water lakes and rivers,Fish,Freshwaters of the Southeastern United States,https://upload.wikimedia.org/wikipedia/commons...,8
1,Major Mitchell's Cockatoo,Cacatua leadbeateri,Bird,Diurnal,1,1.2,0.9,0.95,60,Forest and grassland,"Seeds, nuts, fruits, berries, and roots",Australia,https://upload.wikimedia.org/wikipedia/commons...,112
3,Asian Elephant,Elephas maximus,Mammal,Diurnal,9,10,10000,11000,47,Forest,"Grasses, leaves, barks, and fruits",Southern and Southeast Asia,https://upload.wikimedia.org/wikipedia/commons...,19
7,Sunbittern,Eurypyga helias,Bird,Diurnal,1.5,1.67,0.38,0.56,15,Wetlands,Insects and other small animals,Southern Mexico to northern South America,https://upload.wikimedia.org/wikipedia/commons...,171
8,Ring-tailed Lemur,Lemur catta,Mammal,Diurnal,1.3,1.5,5,8,16,Forest,"Fruit, leaves, flowers and insects",Southern and Southwestern Madagascar,https://upload.wikimedia.org/wikipedia/commons...,151
9,Angolan Colobus Monkey,Colobus angolensis,Mammal,Diurnal,1.2,2.2,13,25,18,Forest and savannah,"Leaves, fruit, and seeds",Tanzania,https://upload.wikimedia.org/wikipedia/commons...,15

 ### Select and print the SECOND AND THIRD columns of your data frame.

In [85]:
df[['latin_name','animal_type']].head()

              latin_name animal_type
0  Macroclemys temmnicki     Reptile
1    Cacatua leadbeateri        Bird
2     Lepisosteus osseus        Fish
3        Elephas maximus      Mammal
4        Felis margarita      Mammal

### Select and print the FIRST 4 rows of you data frame.

In [84]:
first_four = df.iloc[:5]
print (first_four)

                        name             latin_name animal_type active_time  \
0  Alligator Snapping Turtle  Macroclemys temmnicki     Reptile     Diurnal
1  Major Mitchell's Cockatoo    Cacatua leadbeateri        Bird     Diurnal
2               Longnose Gar     Lepisosteus osseus        Fish   Nocturnal
3             Asian Elephant        Elephas maximus      Mammal     Diurnal
4                   Sand Cat        Felis margarita      Mammal   Nocturnal

  length_min length_max weight_min weight_max lifespan  \
0        1.3        2.7        200        225       70
1          1        1.2        0.9       0.95       60
2          2          6        1.1        7.7       20
3          9         10      10000      11000       47
4        1.3        1.9        4.4        5.5        9

                                   habitat  \
0             Fresh water lakes and rivers
1                     Forest and grassland
2  Rivers, lakes, reserviors and estuaries
3                                   Forest
4                                   Desert

                                      diet  \
0                                     Fish
1  Seeds, nuts, fruits, berries, and roots
2                               Small fish
3       Grasses, leaves, barks, and fruits
4       Small rodents, lizards and insects

                                       geo_range  \
0  Freshwaters of the Southeastern United States
1                                      Australia
2    North America east of the Mississippi River
3                    Southern and Southeast Asia
4                North Africa and southwest Asia

                                          image_link   id
0  https://upload.wikimedia.org/wikipedia/commons...    8
1  https://upload.wikimedia.org/wikipedia/commons...  112
2  https://upload.wikimedia.org/wikipedia/commons...  108
3  https://upload.wikimedia.org/wikipedia/commons...   19
4  https://upload.wikimedia.org/wikipedia/commons...  158