### Pull in data from an API. 
Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/

In [139]:
# importing the modules I will need fors this project
import requests
import json
import pandas as pd

In [140]:
# pulling in data from an API that gives me 10 random zoo animals
r = requests.get('https://zoo-animal-api.herokuapp.com/animals/rand/10')
data = r.json()
df = pd.DataFrame(data=data)

# showing the first five rows of the DataFrame to ensure the data was loaded correctly
df.head(10)

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,African Painted Dog,Lycaon pictus,Mammal,Diurnal,2.5,4,44,71,10,"Savannah, woodland and semi-desert","Primarily antelope; some warthogs, hares and s...",Central and Southern Africa,https://upload.wikimedia.org/wikipedia/commons...,4
1,Red-crowned crane,Grus japonensis,Bird,Diurnal,5,5.2,15,22,25,Wetlands,Aquatic animals and plants,East Asia,https://upload.wikimedia.org/wikipedia/commons...,148
2,Yellow-backed Duiker,Cephalophus silvicultor,Mammal,Diurnal,3.75,4.75,100,175,10,Dense tropical forest,"Bark, shoots, buds, seeds, fruits, fungi, herb...",Western central Africa,https://upload.wikimedia.org/wikipedia/commons...,196
3,Trumpeter Swan,Olor buccinator,Bird,Diurnal,5.8,6,20,26,20,"Freshwater rivers, lakes, ponds and marshes",Aquatic vegetation,Northwestern and central North America,https://upload.wikimedia.org/wikipedia/commons...,177
4,Potto,Perodictus potto,Mammal,Nocturnal,1,1.3,1.7,3.7,25,Tropical forest,"Fruit, insects and other small animals",Western and Central Africa,https://static.wikia.nocookie.net/animals/imag...,139
5,Fennec Fox,Vulpes zerda,Mammal,Nocturnal,9.5,16,2.3,3.3,11,Desert,"Fruit, seeds, eggs, termites, and lizards",Northern Africa and western Asia,https://upload.wikimedia.org/wikipedia/commons...,70
6,Asian Elephant,Elephas maximus,Mammal,Diurnal,9,10,10000,11000,47,Forest,"Grasses, leaves, barks, and fruits",Southern and Southeast Asia,https://upload.wikimedia.org/wikipedia/commons...,19
7,Clouded Leopard,Neofelis nebulosa,Mammal,Nocturnal,2,3.5,24,44,13,"Forest, grassland, and wetland","Primates, deer, wild boar, porcupines, small m...",Southeastern Asia,https://upload.wikimedia.org/wikipedia/commons...,55
8,Screaming Hairy Armadillo,Chaetophractus vellerosus,Mammal,Diurnal,1,1.3,1.75,2,16,"Desert, grassland, scrubland, and forest","Plants, insects, and other small animals",Central South America,https://upload.wikimedia.org/wikipedia/commons...,160
9,Masai Giraffe,Giraffa camelopardalis tippelskirchi,Mammal,Diurnal,15,17,1200,4250,13,Savanna and woodland,"Leaves, shoots, and fruits",Southern Kenya and Tanzania,https://upload.wikimedia.org/wikipedia/commons...,114

In [141]:
# checking the type of each column
df.dtypes

name           object
latin_name     object
animal_type    object
active_time    object
length_min     object
length_max     object
weight_min     object
weight_max     object
lifespan       object
habitat        object
diet           object
geo_range      object
image_link     object
id              int64
dtype: object

In [142]:
# changing the types of several columns from objects to intergers so I can perform operations on the columns later.
from numpy import float32


df['lifespan'] = df['lifespan'].astype(int)
df['weight_max'] = df['weight_max'].astype(float32)
df['weight_min'] = df['weight_min'].astype(float32)
df['length_max'] = df['length_max'].astype(float32)
df['length_min'] = df['length_min'].astype(float32)
# checking the types once again 
df.dtypes

name            object
latin_name      object
animal_type     object
active_time     object
length_min     float32
length_max     float32
weight_min     float32
weight_max     float32
lifespan         int32
habitat         object
diet            object
geo_range       object
image_link      object
id               int64
dtype: object

### Find and print TWO descriptive statistics about your data. 
This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

In [143]:
# First I will find the shap eof the DataFrame
df.shape

(10, 14)

In [144]:
# next I will find the mean lifespan of all the animals
mean_lifespan = df['lifespan'].mean()
print (mean_lifespan)

19.0

In [145]:
# now I will find the mean lifespan for each animal type found in the data
df.groupby('animal_type').agg({'lifespan': ['mean']})

            lifespan
                mean
animal_type
Bird          22.500
Mammal        18.125

In [146]:
# Now I will find the heaviest animal

df.nlargest(1, 'weight_max')

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
6,Asian Elephant,Elephas maximus,Mammal,Diurnal,9.0,10.0,10000.0,11000.0,47,Forest,"Grasses, leaves, barks, and fruits",Southern and Southeast Asia,https://upload.wikimedia.org/wikipedia/commons...,19

### Write a query in Pandas to select a particular set of your data. 
You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

In [147]:
# I will use a mask to find all the animals that are Noctural 
df[df['active_time'] == 'Nocturnal']

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
4,Potto,Perodictus potto,Mammal,Nocturnal,1.0,1.3,1.7,3.7,25,Tropical forest,"Fruit, insects and other small animals",Western and Central Africa,https://static.wikia.nocookie.net/animals/imag...,139
5,Fennec Fox,Vulpes zerda,Mammal,Nocturnal,9.5,16.0,2.3,3.3,11,Desert,"Fruit, seeds, eggs, termites, and lizards",Northern Africa and western Asia,https://upload.wikimedia.org/wikipedia/commons...,70
7,Clouded Leopard,Neofelis nebulosa,Mammal,Nocturnal,2.0,3.5,24.0,44.0,13,"Forest, grassland, and wetland","Primates, deer, wild boar, porcupines, small m...",Southeastern Asia,https://upload.wikimedia.org/wikipedia/commons...,55

In [148]:
# Now I will write a query to find all the animals that weight more than the average human man

df.query('weight_max > 197.9')

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
6,Asian Elephant,Elephas maximus,Mammal,Diurnal,9.0,10.0,10000.0,11000.0,47,Forest,"Grasses, leaves, barks, and fruits",Southern and Southeast Asia,https://upload.wikimedia.org/wikipedia/commons...,19
9,Masai Giraffe,Giraffa camelopardalis tippelskirchi,Mammal,Diurnal,15.0,17.0,1200.0,4250.0,13,Savanna and woodland,"Leaves, shoots, and fruits",Southern Kenya and Tanzania,https://upload.wikimedia.org/wikipedia/commons...,114

 ### Select and print the SECOND AND THIRD columns of your data frame.

In [149]:
second_and_third = df[['latin_name','animal_type']].head()
print (second_and_third)

                latin_name animal_type
0            Lycaon pictus      Mammal
1          Grus japonensis        Bird
2  Cephalophus silvicultor      Mammal
3          Olor buccinator        Bird
4         Perodictus potto      Mammal

### Select and print the FIRST 4 rows of you data frame.

In [150]:
first_four = df.iloc[:5]
print (first_four)

                   name               latin_name animal_type active_time  \
0   African Painted Dog            Lycaon pictus      Mammal     Diurnal
1     Red-crowned crane          Grus japonensis        Bird     Diurnal
2  Yellow-backed Duiker  Cephalophus silvicultor      Mammal     Diurnal
3        Trumpeter Swan          Olor buccinator        Bird     Diurnal
4                 Potto         Perodictus potto      Mammal   Nocturnal

   length_min  length_max  weight_min  weight_max  lifespan  \
0        2.50        4.00        44.0        71.0        10
1        5.00        5.20        15.0        22.0        25
2        3.75        4.75       100.0       175.0        10
3        5.80        6.00        20.0        26.0        20
4        1.00        1.30         1.7         3.7        25

                                       habitat  \
0           Savannah, woodland and semi-desert
1                                     Wetlands
2                        Dense tropical forest
3  Freshwater rivers, lakes, ponds and marshes
4                              Tropical forest

                                                diet  \
0  Primarily antelope; some warthogs, hares and s...
1                         Aquatic animals and plants
2  Bark, shoots, buds, seeds, fruits, fungi, herb...
3                                 Aquatic vegetation
4             Fruit, insects and other small animals

                                geo_range  \
0             Central and Southern Africa
1                              East Asia
2                  Western central Africa
3  Northwestern and central North America
4              Western and Central Africa

                                          image_link   id
0  https://upload.wikimedia.org/wikipedia/commons...    4
1  https://upload.wikimedia.org/wikipedia/commons...  148
2  https://upload.wikimedia.org/wikipedia/commons...  196
3  https://upload.wikimedia.org/wikipedia/commons...  177
4  https://static.wikia.nocookie.net/animals/imag...  139