In [9]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://www.irs.gov/pub/irs-soi/eo_ky.csv')

# displaying the top 10 rows of the newly created comparsion_df DataFrame to ensure it was loaded correctly
data.head(10)

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,10356732,CARRIAGE MUSEUM OF AMERICA,NaN,4075 IRON WORKS PKWY,LEXINGTON,KY,40511-8483,0,3,3,...,6,3,1,0,12,1476492.0,58555.0,57604.0,A540,AT THE KENTUCKY HORSE PARK
1,10551398,HIGHLANDS BAND ASSOCIATION INC,% STANLEY ROSS,PO BOX 75029,FORT THOMAS,KY,41075-0029,0,3,3,...,0,0,2,0,5,0.0,0.0,0.0,N60,NaN
2,10554843,JEFFERSON COUNTY SEARCH DOG ASSOCIATION,% HOLLY HATFIELD,8004 SMYRNA PKWY,LOUISVILLE,KY,40228-1808,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,P80,NaN
3,10557144,AUGUSTA ART GUILD,% PRESIDENT,116 MAIN ST,AUGUSTA,KY,41002-1035,0,3,3,...,0,0,2,0,12,0.0,0.0,0.0,A40,NaN
4,10557631,KENTUCKY ALPACA ASSOCIATION INC,%MARTHA SANDERS,134 N LUCAS RD,GLASGOW,KY,42141-8778,0,5,3,...,0,0,2,0,12,0.0,0.0,0.0,K26,KY CLASSIC ALPACA SHOW
5,10560598,CHILD DEVELOPMENT CENTER CORPORATION,% AUTUMN H MCFANN,2201 LEXINGTON AVE,ASHLAND,KY,41101-2843,0,3,3,...,6,5,1,0,9,1244270.0,739271.0,737339.0,P33,NaN
6,10563104,FRIENDSHIP AND COMMUNITY EXPERIENCING SUCCESS INC,% DERRICK L MILES,2325 OSAGE AVE,LOUISVILLE,KY,40210-1113,0,3,3,...,1,1,2,0,6,736.0,3000.0,3000.0,S31,NaN
7,10582200,KENTUCKY PAINT HORSE CLUB,% TRACIE DUNN,PO BOX 1177,VERSAILLES,KY,40383-5177,0,5,3,...,0,0,2,0,12,0.0,0.0,0.0,K26,NaN
8,10597359,SPIRIT OF JOY LIFE MINISTRIES,% BELZORA SCOTT,5009 POPLAR LEVEL RD,LOUISVILLE,KY,40219-1117,0,3,3,...,0,0,6,0,10,NaN,NaN,NaN,X20,NaN
9,10600655,CHRIST CHURCH OF PRAYER AND DELIVERANCE,% CHARLES VAUGHN,624 S 38TH ST,LOUISVILLE,KY,40211-3029,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN

In [10]:
# dropping unneccessary columns
data = data.drop(['ICO', 'ORGANIZATION', "SUBSECTION", "CLASSIFICATION", "PF_FILING_REQ_CD","FILING_REQ_CD", "ASSET_CD", "INCOME_CD"], axis=1)


#changing the Ruling Date column to a date
data['RULING'] = pd.to_datetime(data['RULING'], format='%Y%m', errors='coerce')

# changing NAN values in three columns to zeros
Columns = ["ASSET_AMT", "INCOME_AMT", "REVENUE_AMT"]
for x in Columns:
    data[x] = data[x].fillna(0)

# displaying the top 10 rows again to make sure data has been cleaned correctly
data.head(10)

,EIN,NAME,STREET,CITY,STATE,ZIP,GROUP,AFFILIATION,RULING,DEDUCTIBILITY,FOUNDATION,ACTIVITY,STATUS,TAX_PERIOD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,10356732,CARRIAGE MUSEUM OF AMERICA,4075 IRON WORKS PKWY,LEXINGTON,KY,40511-8483,0,3,1978-08-01,1,15,149060000,1,202012.0,12,1476492.0,58555.0,57604.0,A540,AT THE KENTUCKY HORSE PARK
1,10551398,HIGHLANDS BAND ASSOCIATION INC,PO BOX 75029,FORT THOMAS,KY,41075-0029,0,3,2002-03-01,1,16,0,1,201905.0,5,0.0,0.0,0.0,N60,NaN
2,10554843,JEFFERSON COUNTY SEARCH DOG ASSOCIATION,8004 SMYRNA PKWY,LOUISVILLE,KY,40228-1808,0,3,2002-04-01,1,15,0,1,202112.0,12,0.0,0.0,0.0,P80,NaN
3,10557144,AUGUSTA ART GUILD,116 MAIN ST,AUGUSTA,KY,41002-1035,0,3,2014-07-01,1,16,0,1,202112.0,12,0.0,0.0,0.0,A40,NaN
4,10557631,KENTUCKY ALPACA ASSOCIATION INC,134 N LUCAS RD,GLASGOW,KY,42141-8778,0,3,2002-04-01,2,0,0,1,202112.0,12,0.0,0.0,0.0,K26,KY CLASSIC ALPACA SHOW
5,10560598,CHILD DEVELOPMENT CENTER CORPORATION,2201 LEXINGTON AVE,ASHLAND,KY,41101-2843,0,3,2014-10-01,1,16,0,1,202109.0,9,1244270.0,739271.0,737339.0,P33,NaN
6,10563104,FRIENDSHIP AND COMMUNITY EXPERIENCING SUCCESS INC,2325 OSAGE AVE,LOUISVILLE,KY,40210-1113,0,3,2017-03-01,1,15,0,1,202106.0,6,736.0,3000.0,3000.0,S31,NaN
7,10582200,KENTUCKY PAINT HORSE CLUB,PO BOX 1177,VERSAILLES,KY,40383-5177,0,3,2011-10-01,2,0,0,1,202112.0,12,0.0,0.0,0.0,K26,NaN
8,10597359,SPIRIT OF JOY LIFE MINISTRIES,5009 POPLAR LEVEL RD,LOUISVILLE,KY,40219-1117,0,3,2006-06-01,1,10,0,1,NaN,10,0.0,0.0,0.0,X20,NaN
9,10600655,CHRIST CHURCH OF PRAYER AND DELIVERANCE,624 S 38TH ST,LOUISVILLE,KY,40211-3029,0,3,2002-04-01,1,10,0,1,NaN,12,0.0,0.0,0.0,X20,NaN