### Pull in data from an API. 
Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/

In [27]:
import requests
import json
import pandas as pd

In [29]:
r = requests.get('https://zoo-animal-api.herokuapp.com/animals/rand/10')
data = r.json()
df = pd.DataFrame(data=data)
df.head()

,name,latin_name,animal_type,active_time,length_min,length_max,weight_min,weight_max,lifespan,habitat,diet,geo_range,image_link,id
0,Galapagos Tortoise,Geochelone nigra microphyes,Reptile,Diurnal,5,6,300,550,100,Dry grasslands,"Cactus, fruit, flowers, leaves, and grasses",Galapagos Islands,https://upload.wikimedia.org/wikipedia/commons...,74
1,Cheetah,Acinonyx jubatus,Mammal,Nocturnal,2.3,2.6,65,120,11,Savannah and dry forest,"Small antelope, warthogs, hares, and game birds",Africa and Western Asia,https://upload.wikimedia.org/wikipedia/commons...,51
2,Verreaux's Eagle Owl,Bubo lacteus,Bird,Nocturnal,1.75,2.17,3.56,4.41,30,"Dry and tropical areas, acacia trees, woodland...",Medium-sized mammals and some larger birds,Central to southern Africa,https://upload.wikimedia.org/wikipedia/commons...,181
3,Raggiana Bird-of-paradise,Paradisaea raggiana,Bird,Diurnal,0.9,1.1,0.44,0.75,8,Forest,"Fruit, berries, insects, frogs, and lizards",New Guinea,https://upload.wikimedia.org/wikipedia/commons...,142
4,Ostrich,Struthio camelus,Bird,Diurnal,6.9,9.2,198,287,10,"Savannah, shrubland and desert","Seeds, leaves, fruit; some insects and carrion",Central and Southern Africa,https://upload.wikimedia.org/wikipedia/commons...,130

### Find and print TWO descriptive statistics about your data. 
This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

### Write a query in Pandas to select a particular set of your data. 
You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

 ### Select and print the SECOND AND THIRD columns of your data frame.

### Select and print the FIRST 4 rows of you data frame.